/**
 * @name        [smallTweaks] full-image-thumbnail
 * @description Shows entire image in preview thumbnail for wide images.
 * @author      birdycrazy
 * @version     1.0
 * @icon        🎤
 */

/*
  Shows entire image in preview thumbnail for wide images.
*/

/* :root {
} */

/* Tweak image thumbnail style to display full image and not cut off parts of it */
.chat-image {
  width: auto;
  max-width: 100%;
  object-fit: contain;
}
